<div class="container flex-center" style="margin-top: 100px;">
  <div class="card shadow border mt-5 mb-5">
  <table  class="table table-striped table-hover" style="border-radius: 20px; ">
    <thead class="thead-dark">
      <tr style="height: 70px; justify-content: center;">
        <th scope="col"> Name</th>
        <th scope="col">Event Time</th>
        <th scope="col">Event Date</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
  
      <tr  >
       
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
  
       
      </tr>
    </tbody>
  </table>
  </div>
  </div>